<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>怕流水年华春去渺</title>

    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>
</head>
<body>
<div id="app">

    <el-form :inline="true" :model="searchOpera" class="demo-form-inline">

        <el-form-item label="类型">
            <el-select v-model="searchOpera.type" placeholder="当前类型" size="mini">
                <el-option label="全本" value="1"></el-option>
                <el-option label="集锦" value="2"></el-option>
                <el-option label="音频" value="3"></el-option>
            </el-select>
        </el-form-item>

        <el-form-item label="剧目">
            <el-input v-model="searchOpera.operaName" placeholder="剧目名称" size="mini"></el-input>
        </el-form-item>

        <el-form-item label="流派">
            <el-input v-model="searchOpera.genreName" placeholder="流派名称" size="mini"></el-input>
        </el-form-item>
        <el-form-item label="行当">
            <el-input v-model="searchOpera.roles" placeholder="行当" size="mini"></el-input>
        </el-form-item>
        <el-form-item label="演员">
            <el-input v-model="searchOpera.actor" placeholder="演员" size="mini"></el-input>
        </el-form-item>
        <el-form-item label="描述信息">
            <el-input v-model="searchOpera.description" placeholder="描述信息" size="mini"></el-input>
        </el-form-item>


        <el-form-item>
            <el-button type="primary" @click="onSubmit" size="mini">查询</el-button>
        </el-form-item>
    </el-form>

    <el-row>
        <el-button type="danger" plain @click="deleteByIds">批量删除</el-button>
        <el-button type="primary" plain @click="dialogVisible = true">新增</el-button>
    </el-row>

    <el-dialog
            title="新增京剧"
            :visible.sync="dialogVisible"
            width="30%"
            :before-close="handleClose">
        <!--        <span>这是一段信息</span>-->
        <!--        <span slot="footer" class="dialog-footer">-->
        <el-form ref="form" :model="addopera" label-width="80px">
            <el-form-item label="剧目名称">
                <el-input v-model="addopera.operaName"></el-input>
            </el-form-item>
            <el-form-item label="行当">
                <el-input v-model="addopera.roles"></el-input>
            </el-form-item>
            <el-form-item label="流派">
                <el-input v-model="addopera.genreName"></el-input>
            </el-form-item>
            <el-form-item label="类型">
                <el-input v-model="addopera.type"></el-input>
            </el-form-item>
            <el-form-item label="演员">
                <el-input v-model="addopera.actor"></el-input>
            </el-form-item>
            <el-form-item label="相对路径">
                <el-input v-model="addopera.localPath"></el-input>
            </el-form-item>
            <el-form-item label="B站路径">
                <el-input type="textarea" v-model="addopera.biliPath"></el-input>
            </el-form-item>
            <el-form-item label="描述信息">
                <el-input type="textarea" v-model="addopera.description"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="addOpera">提交</el-button>
                <el-button @click="dialogVisible = false">取消</el-button>
            </el-form-item>
        </el-form>
        <!--    <el-button @click="dialogVisible = false">取 消</el-button>-->
        <!--    <el-button type="primary" @click="dialogVisible = false">确 定</el-button>-->
        </span>
    </el-dialog>
    <!--表格-->
    <template>
        <el-table
                :data="tableData"
                style="width: 100%"
                @selection-change="handleSelectionChange"
        >
            :row-class-name="tableRowClassName">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    type="index"
                    width="50">
            </el-table-column>
            <el-table-column
                    prop="operaName"
                    label="剧目名称"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="roles"
                    label="行当"

                    align="center">
            </el-table-column>
            <el-table-column
                    prop="genreName"
                    label="流派名称"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="typeStr"
                    label="类型"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="actor"
                    label="演员"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="description"
                    label="描述"
                    align="center">
            </el-table-column>
            <el-table-column label="操作" align="center">
                <!--<el-row>
                    <el-button type="primary">新增</el-button>
                    <el-button type="text" @click.native="playOpera(scope.row)">
                        b站播放
                    </el-button>
                </el-row>-->
                <template scope="scope">
                    <el-button type="text" @click.native="playOperaInBili(scope.row)">
                        bili播放
                    </el-button>
                    <el-button type="text" @click.native="playOperaLocal(scope.row)">
                        本地播放
                    </el-button>
                </template>


            </el-table-column>
        </el-table>
    </template>

    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[5, 10, 15, 20]"
            :page-size="5"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount">
    </el-pagination>
</div>
<script src="js1/vue.js"></script>


<!--<script src="element-ui/lib/index.js"></script>-->
<!--<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">-->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script src="js1/axios-0.18.0.js"></script>
<script>
    new Vue({
        el: "#app",
        mounted() {
            this.selectAll();
        },
        methods: {
            selectAll() {
                console.log(this.searchOpera);
                var _this = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/OperaMNG/opera/selectByPageAndCondition?currentPage=" + this.currentPage + "&pageSize=" + this.pageSize,
                    data: _this.searchOpera
                }).then(resp => {
                    //设置表格数据
                    _this.tableData = resp.data.rows; // {rows:[],totalCount:100}
                    //设置总记录数
                    _this.totalCount = resp.data.totalCount;
                })
            },
            onSubmit() {
                console.log(this.searchOpera);
                this.selectAll();
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
                // console.log(this.multipleSelection)
            },
            deleteByIds() {

                this.$confirm('此操作将删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //用户点击确认按钮

                    //1. 创建id数组 [1,2,3], 从 this.multipleSelection 获取即可
                    for (let i = 0; i < this.multipleSelection.length; i++) {
                        let selectionElement = this.multipleSelection[i];
                        this.selectedIds[i] = selectionElement.id;

                    }

                    //2. 发送AJAX请求
                    var _this = this;

                    // 发送ajax请求，添加数据
                    axios({
                        method: "post",
                        url: "http://localhost:8080/OperaMNG/opera/deleteByIds",
                        data: _this.selectedIds
                    }).then(function (resp) {
                        if (resp.data == "success") {
                            //删除成功

                            // 重新查询数据
                            _this.selectAll();
                            // 弹出消息提示
                            _this.$message({
                                message: '恭喜你，删除成功',
                                type: 'success'
                            });

                        }
                    })
                }).catch(() => {
                    //用户点击取消按钮
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });

                });

            },
            addOpera() {
                var _this = this;
                // console.log(this.addbrand);
                // dialogVisible = false;
                //发送ajax异步请求
                axios({
                    method: "post",
                    url: "http://localhost:8080/OperaMNG/opera/add",
                    data: _this.addopera
                }).then(function (resp) {
                    _this.addband = [];//TODO:新增后不会清空
                    if (resp.data == "success") {
                        //添加成功

                        // 关闭窗口
                        _this.dialogVisible = false;
                        //重新加载消息
                        _this.selectAll();
                        //弹出消息提示,注意用带有下划线_的this
                        _this.$message({
                            message: '恭喜你，添加成功',
                            type: 'success'
                        });
                    }
                })
            },
            handleClose(done) {
                this.$confirm('确认关闭？')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {
                    });
            },
            //分页工具条
            handleSizeChange(val) {
                // console.log(`每页 ${val} 条`);
                this.pageSize = val;
                this.selectAll();
            },
            handleCurrentChange(val) {
                // console.log(`当前页: ${val}`);
                this.currentPage = val;
                this.selectAll();
            },
            playOperaInBili(row) {
                console.log(row.biliPath);
                // window.location.href = row.biliPath;
                window.open(row.biliPath);
            },
            playOperaLocal(row){
                console.log(row.localPath);
                axios({
                    method:"get",
                    url:"http://localhost:8080/OperaMNG/opera/playOpera1?localPath=" + row.localPath
                })
            }
        },
        data() {
            return {
                currentPage: 1,
                pageSize: 5,
                totalCount: 0,
                dialogVisible: false,
                selectedIds: [],//选中的ID数组
                multipleSelection: [],//复选框选中数据
                tableData: [{//table数据
                    operaName: "xfgn",
                    roles: "z",
                    type: "gz",
                    genreName: "zh",
                    actor: "zh",
                    description: "zh",
                    localPath: "zhr",
                    biliPath: "zhr"
                }],
                searchOpera: {
                    operaName: '',
                    roles: '',
                    type: '',
                    genreName: '',
                    actor: '',
                    description: ''
                },
                addopera: {
                    operaName: "",
                    roles: "",
                    type: "",
                    genreName: "",
                    actor: "",
                    description: "",
                    localPath: "",
                    biliPath: ""
                }
            }
        }
    })
</script>
</body>
</html>